# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# MacOS junk
.DS_Store

# Model artifacts 
*.pt
*.pth
*.ckpt

# data & big archives
data/
*.tar
*.tar.gz
*.zip